/*
Import
*/
@import 'variables';
@import 'fontface';
@import 'mixins';
@import 'icons';

/*
Positioning classes
*/

.vcenter {
  display: flex;
  align-items: center;
}

.vtop {
  @extend .vcenter;
  align-items: flex-start;
}

.vbottom {
  @extend .vcenter;
  align-items: flex-end;
}

/*
Custom Styles
*/


.background-color {
  background-color:$aqua;
};

.color {
  color:$aqua;
}

.border-color {
  border-color:$aqua;
}

body {
  @extend .full-size;
  font-family:$regular;
  text-transform: uppercase;
  hr {
    @extend .border-color;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $bold;
  @extend .color;
}

section {
  margin: $unit*2 0;
  .row {
    margin-bottom: $unit*2;
  }
}


nav.navbar-default{
  .brand {
    height: $unit*2;
    position: relative;
    left: -$unit;
    top:-$unit/2;
  }
}

.mas-info {
  @extend .vcenter;
}

.full-size {
  width: $full;
  height: $full;
}

.bar-height {
  min-height: $unit*4;
  height: $unit*4;
  @extend .background-color;
  position: relative;
}
.fa-check {color: $palegreen;}

.product {
  padding:0;
  @extend .vcenter;
  @extend .bar-height;
  height: $unit*6;
  > * {
    @extend .vcenter;
    min-height: inherit;
    height: inherit;
  }
  * {color: $white;}
  .number {
    justify-content: center;
    font-size:2.82em;
    height:1em;
  }
  .title {
    padding-left: $unit;
  }
  .img-wrapper {
    background-color: $transparent;
    margin-left:-$unit;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.mas-info {
  @extend .vcenter;
  justify-content:center;
}

.btn {
  @include border-radius(0);
  border-size:1px;
  border-style:solid;
  @extend .color;
  @extend .border-color;
  &:hover {
    @extend .color;
    @extend .border-color;
  }
}